<%- include('header') -%>

    <body>


        <div id="heading" class="box">
            <h1 style="color:green">
                <%=day_of_wk%>'s <br>Todo List
            </h1>
        </div>
        <div class="box">
            <% tasks.forEach(function(task){ %>
                <form action="/delete" method="post">
                    <div class="item">
                        <input type="checkbox" name="checkbox" value="<%=task._id%>" onchange="this.form.submit()">
                        <p><%=task.name%></p>
                    </div>
                </form>
                <% }); %>
                    <form class="item" action="/" method="post">
                        <input type="text" name="item" placeholder="New" autocomplete="off">
                        <button type="submit" name="button">+</button>
                    </form>
        </div>
    </body>

<%- include('footer') -%>